server {
    listen 80;
    listen [::]:80;

    server_name evanpatrick.site www.evanpatrick.site;
    
    # Serve the built Vite React app
    root /var/www/portfolio/frontend/dist;
    index index.html;


    # Handle React Router (client-side routing)
    location / {
        try_files $uri $uri/ /index.html;
    }
}
